body {
  width: 50%;
  background-color: grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.blue {
  color: blue;
}
#guinea-pig {
  padding: 30px;
  margin: 10px;
  align-self: center;
  height: 100px;
  width: 100px;
}
.red {
  background-color: red;
}
.large {
  font-size: large;
}
.bordered {
  border: 2px solid blueviolet;
}
.rounder {
  border-radius: 25%;
}
